SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/core_db
SPRING_DATASOURCE_USERNAME=autoshop
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
APP_MINIO_URL=http://minio:9000
APP_MINIO_ACCESS_KEY=change-me
APP_MINIO_SECRET_KEY=change-me
SPRING_MAIL_HOST=smtp.example.com
SPRING_MAIL_PORT=587
APP_AUTH_BASE_URL=http://auth:8082
APP_FILES_BASE_URL=http://files:8084
APP_UMAPI_API_KEY=
APP_CARRETA_API_KEY=
APP_CARRETA_TEST_ORDERS_ENABLED=false
