SERVER_PORT=8084
FILES_DB_URL=jdbc:postgresql://postgres:5432/files_db
FILES_DB_USERNAME=autoshop
FILES_DB_PASSWORD=change-me
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
MINIO_INITIALIZE_BUCKETS=true
